.cards__see-all{
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #000000;
    text-decoration: none;
    text-align: right;
}