.chat-popup__message-input {
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
  width: 75%;
  padding-left: 16px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  height: 52px;
  background-color: #e4e4e4;
  border: none;
  border-radius: 8px;
  outline: none;
}
