.cover__subtitle {
  margin: 0 0 56px;
  width: calc(730/1440 * 100%);
  font-family: "Mulish Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #737B7D;
}
