<<<<<<< HEAD
.cards__title{
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #249F8D;
    max-width: 730px;
    margin: 140px auto 72px;
}
=======
.cards__title {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #373F41;
  max-width: 730px;
  margin: 0 auto 72px;
}
>>>>>>> 3639db4a285894d0a78c7b8c708f3006c1adc56a
