.chat-popup__send-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
