.button_size-l{
    width: 350px;
    height: 42px;
    border: 0;
    border-radius: 6px;
    background-color: #249F8D;
    color: #fff;
    margin: 0 auto 140px;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    cursor: pointer;
}