<<<<<<< HEAD:blocks/buttons/_size-l/button_size-l.css
.button_size-l{
    width: 350px;
    height: 42px;
    border: 0;
    border-radius: 6px;
    background-color: #249F8D;
    color: #fff;
    margin: 0 auto 140px;
    font-family: "Mulish", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    cursor: pointer;
}
=======
.cards__sort-button {
  width: 350px;
  height: 42px;
  background-color: #4d4d4e;
  color: #fff;
  margin: 0 auto;
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  cursor: pointer;
}
>>>>>>> 3639db4a285894d0a78c7b8c708f3006c1adc56a:blocks/cards/__sort-button/cards__sort-button.css
