.card {
  width: 350px;
  list-style: none;
  position: relative;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
}

.card:first-of-type {
  margin-left: 0;
}

.card:last-of-type {
  margin-right: 0;
}
